<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Exam Performance Indicator</title>
    <!-- Include Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .bg-gradient {
        background: linear-gradient(135deg, black, white);
      }
      .content {
        background: rgba(255, 255, 255, 0.35);
      }
    </style>
  </head>
  <body class="flex items-center justify-center bg-gradient">
    <div class="container max-w-lg p-8 bg-white rounded-lg shadow-md content">
      <h1 class="text-3xl font-bold text-center mb-4">
        Student Exam Performance Indicator
      </h1>
      <form action="{{ url_for('predict_datapoint') }}" method="post">
        <fieldset>
          <!-- <legend class="text-xl font-semibold mb-4">
            Student Exam Performance Prediction
          </legend> -->

          <div class="mb-4">
            <label for="gender" class="block text-gray-700">Gender</label>
            <select
              id="gender"
              name="gender"
              class="w-full p-2 mt-2 border rounded-md"
              required
            >
              <option value="" disabled selected>Select your Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>

          <div class="mb-4">
            <label for="ethnicity" class="block text-gray-700"
              >Race or Ethnicity</label
            >
            <select
              id="ethnicity"
              name="ethnicity"
              class="w-full p-2 mt-2 border rounded-md"
              required
            >
              <option value="" disabled selected>Select Ethnicity</option>
              <option value="group A">Group A</option>
              <option value="group B">Group B</option>
              <option value="group C">Group C</option>
              <option value="group D">Group D</option>
              <option value="group E">Group E</option>
            </select>
          </div>

          <div class="mb-4">
            <label for="parental_level_of_education" class="block text-gray-700"
              >Parental Level of Education</label
            >
            <select
              id="parental_level_of_education"
              name="parental_level_of_education"
              class="w-full p-2 mt-2 border rounded-md"
              required
            >
              <option value="" disabled selected>
                Select Parent Education
              </option>
              <option value="associate's degree">associate's degree</option>
              <option value="bachelor's degree">bachelor's degree</option>
              <option value="high school">high school</option>
              <option value="master's degree">master's degree</option>
              <option value="some college">some college</option>
              <option value="some high school">some high school</option>
            </select>
          </div>

          <div class="mb-4">
            <label for="lunch" class="block text-gray-700">Lunch Type</label>
            <select
              id="lunch"
              name="lunch"
              class="w-full p-2 mt-2 border rounded-md"
              required
            >
              <option value="" disabled selected>Select Lunch Type</option>
              <option value="free/reduced">free/reduced</option>
              <option value="standard">standard</option>
            </select>
          </div>

          <div class="mb-4">
            <label for="test_preparation_course" class="block text-gray-700"
              >Test preparation Course</label
            >
            <select
              id="test_preparation_course"
              name="test_preparation_course"
              class="w-full p-2 mt-2 border rounded-md"
              required
            >
              <option value="" disabled selected>Select Test Course</option>
              <option value="none">None</option>
              <option value="completed">Completed</option>
            </select>
          </div>

          <div class="mb-4">
            <label for="writing_score" class="block text-gray-700"
              >Writing Score out of 100</label
            >
            <input
              id="writing_score"
              type="number"
              name="writing_score"
              class="w-full p-2 mt-2 border rounded-md"
              min="0"
              max="100"
              required
            />
          </div>

          <div class="mb-4">
            <label for="reading_score" class="block text-gray-700"
              >Reading Score out of 100</label
            >
            <input
              id="reading_score"
              type="number"
              name="reading_score"
              class="w-full p-2 mt-2 border rounded-md"
              min="0"
              max="100"
              required
            />
          </div>

          <div class="text-center">
            <button
              class="w-full p-3 mt-4 text-white bg-blue-500 rounded-md hover:bg-blue-700"
            >
              Predict your Maths Score
            </button>
          </div>
        </fieldset>
      </form>

      {% if results %}
      <div class="result text-center text-green-600 font-bold mt-4">
        <p>The prediction is: {{ results }}</p>
      </div>
      {% endif %}

      <div class="text-center mt-4">
        <a
          href="{{ url_for('index') }}"
          class="w-full p-3 text-center text-white bg-gray-500 rounded-md hover:bg-gray-700"
          >Back to Main Page</a
        >
      </div>
    </div>
  </body>
</html>
